.env
__pycache__/
*.pyc
.DS_Store
*.egg-info/
venv/
.venv/
uploads/
*.jpg
*.png
*.jpeg
test_report.pdf
test_report.py
.gemini/
C:\\Users\\Brk\\.gemini\\antigravity\\brain\\1096534c-d247-4280-8b2a-ba8d42bbd9cf/
